
*{
    font-family: 'Rubik', sans-serif;
}                                          

h1,h2,h3,h4,h5,h6{
    font-family: 'Nunito', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.contact-container{
    background-color: #e10000;
    width:100%;
}
/*.col{
    border:1px solid black;
}*/
.contact-container a{
    text-decoration: none;
    color:white;
    font-weight: 500;
}
.email-contact{
   display:flex;
   justify-content: left;
   align-items:center;
}
.fa-envelope{
    margin-right:10px;
}
.fa{
    color:white;
}
.fa-phone{
margin-left:10px;
}
.register{
   /* width:30%;*/
    background-color:black;
    color:white;
    height:100%;
    border-radius:50px;
    display:flex;
    justify-content: center;
    align-items:center;
    float:right;
}
.register a{
    margin:0px 30px;
}
.register a:hover{
     color:red;
     transition-duration: 1s;
}
.contact-container .col:first-child,.contact-container .col:nth-child(3){
    border-right:1.7px solid rgba(0, 128, 0,0.7);
}
.social-media-contact{
    display:flex;
   justify-content: left;
   align-items:center;
   margin-left:20px;
}
.social-media-contact .fa{
 margin-right:15px;
}
.social-media-contact .fa:hover{
   color:red;
   cursor: pointer;
}
/************small-devices-top-bar********/
.top-header{
    background:red;
    height:50px;
    display:none;
   /* width:100%;*/
}
.register-button{
    width:150px;
    height:100%;
    border:1px solid black;
    background: black;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50px;
    float:right;
    margin-right:5%;
}
.register-button a{
    text-decoration: none;
    color:white;
}


/*********second bar styles***********/
/*.secondbar .col{
    border:1px solid black;
}*/
.dropdown-toggle::after{
    content:"";
    display:none;
}
.w3-logo{
    width:40%;  
}
.btn.show{
    border-color:transparent !important;
}
.btn:active{
    border-color:transparent !important;
}
.dropdown-toggle:hover{
      color:red;
}
.dropdown-toggle:hover .dropdown-menu{
    display: block;
}
.navbar{  
    margin-top:20px;  
}
/*.navbar-container{
    position:sticky !important;
    top:0;
    border:1px solid black;
}*/
.navbar-toggler{
    border-color:transparent;
}
.navbar-toggler:focus{
    box-shadow:none !important;
}
.dropdown-toggle{
    margin-right:40px;
}
.courses-dd:hover .dropdown-menu{
    display:block;
}
.dropdown-menu li{
    margin:20px 100px 10px 0px;
}

.dropdown-menu {
   border-color:transparent;
   /*box-shadow:5px 5px 10px rgb(172, 172, 172);*/
}
.dropdown-toggle{
    font-size:17px;
    text-transform: uppercase;
    font-weight: 600;
}
.dropdown-menu li a:hover{
    color:red;
    background-color: transparent;
}
.image-container{
   width:45%;
}

/*.secondbar{
    position:sticky;
    top:0px;
    background-color: white;
    width:100%;
}
 .secondbar .w3-logo{
    width:40%;
    height:auto;
}
.w3-logo-box{
    width:100%;
    display:flex;
    justify-content:left;
}
.nav-bar{
      width:100%;
      height:100%;
      display:flex;
      justify-content: center;
      align-items: center;
     border:1px solid black;
    position: relative;
}
.nav-bar-items{
    list-style-type: none;
    display:flex;
}
.nav-bar-items li{
    padding:10px 65px 0 0;   
}
.nav-bar-items a{
    text-decoration: none;
    font-size:auto;
    font-weight: 700;
    text-transform: uppercase;
    color:black;
}
.nav-bar-items a:hover{
    color:red;
    transition:0.5s;
}*/
/*banner*/
.banner-box{
    width:100%;
    position:relative;
    /*z-index:-1;*/
}
/*.carousel{
    z-index:-1;
}*/
.banner{
    width:100%;
    height:auto;
}
.courses-section-title h1{
    font-size:60px;
    text-align: center;
}
.courses{
    width:100%;
    /*border:1px solid black;*/
    border-radius:5px;
}
.course-icon-box{
    border-radius:50%;
    width:80px;
    height:80px;
    background-color:white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*courses icon box images*/
.course-1-icon-box{
    background-image: url("../images/web-design-1.png");
}
.course-2-icon-box{
    background-image:url("../images/web-development.png")
}
.course-3-icon-box{
    background-image:url("../images/seo.png")
}
.course-4-icon-box{
    background-image:url("../images/digital-marketing-1.png")
}
.course-5-icon-box{
    background-image: url("../images/ux-design.png");
}
.course-6-icon-box{
    background-image: url("../images/php.png");
}
.course-7-icon-box{
    background-image: url("../images/html.png");
}
.course-8-icon-box{
    background-image: url("../images/java.png");
}
.course-9-icon-box{
    background-image: url("../images/python.png");
}
.course-10-icon-box{
    background-image: url("../images/reactjs.png");
}
.course-11-icon-box{
    background-image:url("../images/angular.png")
}
.course-12-icon-box{
    background-image: url("../images/c++.png");
}
.course-title{
    width:100%;
    height:100%;
    display:flex;
    justify-content:left;
    align-items: center;
    margin-top:10px;
    z-index:2;
}
.courses-div:hover .courses-dropDown{
    display:block;
    z-index:3;
}

.courses-dropDown{
   display:none;
    position:absolute;
    background: white;
    padding:40px 0px 20px 20px;
    top:30px;
    /*z-index:-33;*/
}
.courses-dropDown ul li a{
    font-weight: 500;
}
.courses-dropDown ul li{
    list-style-type: none;
    margin-left:-30px;
    padding:10px 100px 15px 0px;
}
.courses-dropDown ul li:first-child{
    padding-top:0px;
}

/*courses title colours*/
.course-title a{
    text-decoration: none;
    letter-spacing: 1px;
}
.course-1-title a,.course-5-title a,.course-10-title a{
    color:#00adb6;
}
.course-2-title a,.course-9-title a,.course-11-title a{
    color:#f7b320;
}
.course-3-title a,.course-7-title a,.course-12-title a{
    color:#f10750;
}
.course-4-title a{
    color:#9ade45;
}
.course-6-title a{
    color:#b95ffd;
}
.course-8-title a{
    color:#25a55f;
}
.course-title p{
    font-weight:600;
    font-size:17px;
}
.courses{
    width:100%;
    height:100%;
}
.courses:hover{
    cursor: pointer;
}
/*courses background colours*/
.course-1,.course-5,.course-10{
    background-color:rgba(0,173,182,.1);
}
.course-2,.course-9,.course-11{
    background-color:rgba(247,179,32,.1);
}
.course-3,.course-7,.course-12{
    background-color:rgba(241,7,80,.1);
}
.course-4{
    background-color:rgba(154,222,69,.1);
}
.course-6{
    background-color: rgba(185,95,253,.1);
}
.course-8{
    background-color: rgba(37,165,95,.1);
}
.more-courses{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.more-courses-btn{
    background-color: black;
    border-radius: 5px;
    padding:10px 40px 0px 40px;
}
.more-courses-btn p{
    color:white;
    font-size: 18px;
    font-weight:600;
}
.more-courses-btn p:hover{
    color:rgb(39, 99, 152);
    transition:1s;
}
.more-courses-btn:hover{
    cursor: pointer;
}
/*about-us-styles*/
.about-us-description{
    width:88%;
}
.about-us-title-1 h5{
    color:#ff5421;
    text-transform: uppercase;
    font-weight:700;
}
.about-us-title-2 h2{
    margin-bottom:30px;
    font-weight:700;
}
.about-us-content p{
    font-size:20px;
    line-height: 35px;
    font-weight:500;
    opacity:0.9;
}
.about-us-content .second-para{
    margin-top:40px;
}
.about-us-right-section h4{
    opacity:0.8;
    font-size:22px;
    font-weight:700;
}

.students,.jobs,.training,.internship{
    width:100%;
    height:300px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    border-radius:10px;
}
.students{
    background-color: #fbf8cc;
}
.jobs{
    background-color:#e9fbd5;
}
.training{
    background-color: #dcf1fd;
}
.internship{
    background-color:#ffcbcb;
}
/*why-w3-styles*/
.w3-tec{
    width:90%;
    height:auto;
}
.why-w3{
    margin-top:100px;
}
.why-w3-img{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.why-w3 h5{
   color:black;
}
.why-w3-description{
    font-size:20px;
    font-weight:500;
    opacity:0.8;
}
.left{
    display:flex;
    justify-content: center;
    align-items:center;
}
.why-w3 h1{
    color:black;
    font-weight:600;
    letter-spacing: 1px;
}
.why-w3-technologies{
    display:flex;
    flex-direction: column;
}
.why-w3-technologies p{
    font-size: 18px;
}
.learning{
    width:50px;
    height:auto;
}
 .learning-cost,.learn-with-experts,.job-orient-training{
box-shadow:0 0 30px #eee;
}
.learning-cost h5,.learn-with-experts h5,.job-orient-training h5{
    font-weight:600;
    opacity:0.9;
}
/*registration-section*/
.registration-section{
    margin-top:100px;
    padding:0;
    width:100%;
}

.frequently-asked-qa{
    background: #faefef;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    width:100%;
}
.qa{
    width:80%;
  /*  border:1px solid black;*/
    padding:40px 0 40px 0;
}

.accordion-button{
    background-color:transparent;
    font-weight: 600;
    font-size: 14px;
    padding:25px;
}
.accordion-button:not(.collapsed){
   background-color:red !important;
   color:white
}
.accordion-button:focus{
    box-shadow:none !important;
} 
.accordion-button::before{
    content:"\f105";
    width:20px;
    height:auto;
    margin-right:20px;
}
.accordion-button::after{
    content:"";
    display:none;
}
/*.first-question-box,.second-question-box,.third-question-box{
    background: white;
    width:100%;
    padding:20px 10px 20px 10px;
    margin-bottom:20px;
    margin-top:40px;
}
.fa-angle-right{
    color:black;
    margin-right:20px;
}
.answer-1{
    background: white;
    width:100%;
    padding:10px 10px 10px 10px;
    margin:0;
   display:none;
}
.fa-angle-right:hover {
   cursor: pointer;
}
.fa-angle-right:hover .answer-1{
   display:block;
}
.question-1 span,.question-2 span,.question-3 span{
    font-weight:700;
}*/
/*registration form section*/
.registration-form-section{
    background:#e10000;
    display:flex;
    justify-content:center;
    align-items:center;
}
/*.registration-section{
    border:1px solid black;
}*/
.register-form{
    width:80%;
   /* border:1px solid black;*/
   padding:40px 0 20px 0;
   color:white;
}

.register-form input{
    width:100%;
    height:50px;
    border-radius:5px;
    border:1px solid white;
    background: #f39797;
    outline: none;
    padding-left:20px;
    color:black;
}
::placeholder {
    color: white;
    opacity: 1; 
    text-transform: capitalize;
  }
  
 
.name,.contact{
    display:flex;
    justify-content: space-between;
}
textarea{
    width:100%;
    border-radius:5px;
    border:1px solid white;
    background: #f39797;
    outline: none;
    padding-left:20px;
    color:black;
}
.submit{
    color:white;
    background: black;
    width:35%;
    padding:10px;
    border-radius:7px;
    font-weight:700;
    opacity:0.9;
}
.submit:hover{
   opacity:1;
}
/*testimonial section*/
.testimonial-background{
    background-image: url("../images/testi-bg.jpg");
    padding:50px;
    margin-top:100px;
    background-repeat:no-repeat;
    background-size: cover;
}
.testimonial-section{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.testimonial-section-title{
    color:red;
    font-weight:700;
    letter-spacing: 0.5px;
}
.header-bottom-line{
    width:5%;
    background:red;
    height:4px;
}
.testimonial-cards{
    margin-top:35px;
}
.testimonial-1,.testimonial-2,.testimonial-3{
    background:white;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    padding:50px;
    width:94%;
}
.owl-carousel .owl-item img {
    display: block;
    width: 40px;
}
.testimonial-1 p,.testimonial-2 p,.testimonial-3 p{
    margin:30px 0;
    text-align: center;
}
.testimonial-1 h4,.testimonial-2 h4,.testimonial-3 h4{
    font-weight:600;
    text-align: center;
}
/*footer styles*/
.footer_background{
    background:black;
    color:white;
}
.w3tec{
    width:70%;
    /*border:1px solid white;*/
}
.w3-white-logo{
    width:100%;
    height:auto;    
    margin-bottom:20px;
}
.address-section a,.course-section a{
     text-decoration: none;
     color:white;
}
.address-section a:hover{
    color:black;
}
.course-section a:hover{
    color:red;
    transition:0.6s;
}
.address-section h5,.course-section h5{
      font-weight:700;
}
.title-bottom-line{
    width:15%;
    background-color: white;
    height:2px;
    margin-bottom:20px;
}
.courses-list li{
    padding-bottom:10px;
}
.courses-list{
    margin-left:-16px;
  /*  border:1px solid white;*/
}
.footer-line{
    width:100%;
    background:white;
    height:1px;
}
.right-content{
    display:flex;
    justify-content: space-between;
}
.red-circle{
    border-radius:50%;
    width:10px;
    height:8px;
    background:red;
    margin-top:10px;
}
.right-content a{
      text-decoration: none;
      color:white;
}
.right-content a:hover{
    color:red;
}
/*media queries*/
@media only screen and (max-width:991px) {
    .top-header{
        display:block;
    }
    .contact-container{
        display:none;
    }
    .navbar-collapse {
        width: 80%;
        flex-basis: 100%;
        flex-grow: 1;
        position: absolute;
        top: 100%;
        background-color: white;
        z-index: 2;
        align-items: center;
    }
    .navbar-nav .dropdown-menu{
        position:absolute;
    }
    .w3-logo{
        width:100%;
    }
   

}
@media only screen and (max-width:1200px){
    .contact-container .col:first-child{
        border-right:transparent;
    }
    .w3-logo{
        width:80%;
        /*margin-right:20px;*/
    }
   
}
